fastapi
uvicorn

# LlamaIndex core
llama-index
llama-index-llms-mistralai

# Vector DB
qdrant-client

# Embeddings
fastembed
sentence-transformers

# PDF processing
pypdf

# Utils
python-dotenv
tqdm
regex
logging



